In [1]:
import pipit

# from pipit.plotting import _util
# _util.theme = "paper"

import pandas as pd
pd.set_option('max_colwidth', None)

dir = './loimos-proj-coc-64/'
trace_64 = pipit.Trace.from_projections(dir)

In [2]:
idle_times = trace_64.idle_time().sort_values(by=['Idle Time', 'Process'],ascending=False)
most_idle_procs = idle_times["Process"].head(4)
least_idle_procs = idle_times["Process"].tail(4)

display(most_idle_procs)
display(least_idle_procs)
display(idle_times.tail(4))
display(idle_times.head(4))

61    61
62    62
60    60
44    44
Name: Process, dtype: int64

19    19
27    27
36    36
20    20
Name: Process, dtype: int64

    Process  Idle Time
19       19  9482000.0
27       27  5753000.0
36       36  5313000.0
20       20  4200000.0

    Process    Idle Time
61       61  122545000.0
62       62  105244000.0
60       60  105169000.0
44       44  100791000.0

In [7]:
z = least_idle_procs.to_list() + most_idle_procs.to_list()

In [9]:
trace_64.events = trace_64.events.loc[trace_64.events['Process'].isin(z)]

In [10]:
trace_64.plot_timeline()

AttributeError: 'Trace' object has no attribute 'plot_timeline'

In [26]:
df = trace_64.events
dff = df.loc[df['Timestamp (ns)'] > 1100000].loc[df['Timestamp (ns)'] < 1150000]
most_idle = dff.loc[dff['Process'] == 62]
least_idle = dff.loc[dff['Process'] == 21]

In [27]:
def print_most_funcs(df):
    df = df.groupby(['Name'])['time.exc'].sum().reset_index(name='Time').sort_values(['Time'], ascending=False)
    display(df.head())

In [28]:
print_most_funcs(most_idle)
print_most_funcs(least_idle)

                                                Name     Time
0                                               Idle  31211.0
7                                         traceOff()    109.0
3  ReductionStarting(CkReductionNumberMsg* impl_msg)      9.0
1                                               Pack      1.0
2                  RecvMsg(CkReductionMsg* impl_msg)      0.0

                                                      Name    Time
0                                    ComputeInteractions()  8392.0
7                                      SendVisitMessages()  7766.0
5  ReceiveVisitMessages(const VisitMessage &impl_noname_1)  1379.0
3                                                     Pack   620.0
2                                                     Idle   535.0